<%= form_with(model: classroom, local: true) do |form| %>
  <% if classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
        <% classroom.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :class_name %>
    <%= form.text_field :class_name %>
  </div>

  <div class="field">
    <%= form.label :class_type %>
    <%= form.text_field :class_type %>
  </div>

  <div class="field">
    <%= form.label :date_from %>
    <%= form.date_select :date_from %>
  </div>

  <div class="field">
    <%= form.label :date_to %>
    <%= form.text_field :date_to %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
