<p id="notice"><%= notice %></p>

<p>
  <strong>Class name:</strong>
  <%= @classroom.class_name %>
</p>

<p>
  <strong>Class type:</strong>
  <%= @classroom.class_type %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @classroom.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @classroom.date_to %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
