<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @student.firstname %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @student.surname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.DOB %>
</p>

<p>
  <strong>Admission date:</strong>
  <%= @student.admission_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @student.nationality %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
