<div class="container">
  <div class ="row mt-5">
    <div class="col-sm">
      <%= form_with model: @user, class: 'form-signin', local: true do |f| %>
        <div>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %>  user could not be saved:</h2>
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li class="text-danger text-center mb-4"><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= render partial: 'form', locals: { f: f }%>
          <%= f.submit 'Create account', class: 'btn btn-sm btn-dark btn-block' %>
          <hr>
          <%= link_to 'Register with facebook', new_user_path, class: 'btnSecOption btn btn-sm btn-block btnSecHover' %>
          <%= link_to 'Register with google', new_user_path, class: 'btnSG btnSGHover btn btn-sm btn-block' %>
          <i class="btn-facebook"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
