<div class="card p-1 m-3">
  <h3>Welcome, <%= @user.username %></h3>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">Manage your info, privacy, and security to make Google work better for you.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card p-1 m-3" >
  <div class="row m-3">
    <div class="col-sm-6 text-center">
      <div class="card-body">
        <h3 class="m-0 font-weight-bold text-primary">Overflow Hidden Utilty</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-outline-secondary">Go somewhere</a>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <div class="card-body">
        <h3 class="m-0 font-weight-bold text-primary">Overflow Hidden Utilty</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-outline-secondary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="card mb-4">
  <div class="card-header py-3">
  </div>
</div>
<div class="card p-1 m-3">
  <%#= render partial: 'usertype' unless @user.teacher || @user.student %>
</div>
<%= @user.email %>
<%= @user.username %>
<%= @user.country %>
<%= @user.created_at %>
