<h4>
  <span><%= image_tag 'logo_black.png', height: 40, width: 40 %>&nbsp Teacher info</span>
</h4>
<hr>
<div class="mb-3">
  <%= f.text_field :firstname, placeholder: :firstname, class: 'form-control' %>
</div>
<div class="mb-3">
  <%= f.text_field :middle_name, placeholder: :middle_name, class: 'form-control' %>
</div>
<div class="mb-3">
  <%= f.text_field :surname, placeholder: :surname, class: 'form-control' %>
</div>
<div class="mb-3">
  <%= f.date_select :DOB, placeholder: 'Date of birth', class: 'form-control'  %>
</div>
<div class="mb-3">
  <%= f.label :date_of_employment, 'Date of employment' %>
  <%= f.date_select :date_of_employment, class: 'form-control' %>
</div>
<div class="mb-3">
  <%= f.text_field :contact, placeholder: :contact, class: 'form-control' %>
</div>
