<p id="notice"><%= notice %></p>

<p>
  <strong>Class name:</strong>
  <%= @course.class_name %>
</p>

<p>
  <strong>Class type:</strong>
  <%= @course.class_type %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @course.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @course.date_to %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
