<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap shadow">
  <div class="navbar-brand">
    <%= image_tag 'logo_white', width: 30, height: 30 %>
  </div>
  <%= link_to 'GH School', 'path', class: 'navbar-brand' %>
  <%= link_to  'Schools', schools_path(@school), class: 'nav-spec nav-link' %>
  <%= link_to  'Students', 'path', class: 'nav-spec nav-link' %>
  <%= link_to  'Rank', 'path', class: 'nav-spec nav-link' %>
  <%= link_to  'Juxtapose', 'path', class: 'nav-spec nav-link' %>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="input-group">
    <%= form_tag(search_page_path, method: :get, class: 'form-inline') do %>
      <div class="input-group">
        <%= search_field_tag :search, params[:search], placeholder: 'Search', class: 'form-control', id: 'search_field' %>
        <div class="input-group-append">
          <%= button_tag 'Search', class: 'btn btn btnSecOption btn-block', id: 'search_btn', name: nil %>
        </div>
      </div>
    <% end %>
  </span>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" id="search_field" type="button" data-toggle="dropdown">Dropdown Example
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <% if logged_in? %>
        <%= link_to 'Sign out', logout_page_path, method: :logout, class:'nav-link nav-spec' %>
      <% else %>
        <%= link_to 'Sign in', login_page_path , class:'nav-spec nav-link' %>
      <% end %>
    </li>
  </ul>
  <span>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <%= link_to 'Register', new_user_path, class:'nav-spec nav-link' %>
      </li>
    </ul>
  </span>
  <span class="input-group-btn text-success">
    <%= !current_user.nil? ? current_user.username : '' %>
  </span>
</nav>
