<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <link rel=”icon” type=”image/ico” href=”assets/images/logo_white.png” />
</head>

<body data-page="<%= controller_name %>-<%= action_name %>">
  
  <% unless current_page?(login_page_path) || current_page?(password_forgot_path) || current_page?(password_reset_path) %>
    <%= render 'layouts/navbar' %>
  <% end %> 

  <%#= render 'layouts/accnt_navbar' if (@user) %>

  <div>
    <%= yield %>  
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
  
</html>